<button mat-raised-button color="primary" style="margin-left: 10px" class="btn btn-info" style="margin-left: 10px">Nuevo Artista</button><hr>

<div class="container">

    <div class="card">
        <div class="card-header">
            <h3>Museos</h3>
        </div>
        <div class="card-body">
           <table mat-table class="mat-elevation-z8 demo-table">
               <thead>
                   <tr>
                    <ng-container matColumnDef="position">
                       <th mat-header-cell *matHeaderCellDef>ID</th>
                       <th>NOMBRES</th>
                       <th>PAIS</th>
                       <th>CIUDAD</th>  
                       <th>DIRECCION</th>  
                       <th>ACCIONES</th>
                    </ng-container>
                   </tr>
               </thead>
               <tbody>
                   <tr *ngFor="let museo of museos | paginate: {itemsPerPage:7, currentPage: pageActual} " class="text-center">
                    <ng-container matColumnDef="position">
                       <td mat-cell *matCellDef="let element">{{museo.id_museo}}</td>
                       <td>{{museo.nombre}}</td>
                       <td>{{museo.pais}}</td>
                       <td>{{museo.ciudad}}</td>
                       <td>{{museo.direccion}}</td>
                       <td>
                           <button  button mat-raised-button color="primary" style="margin-left: 10px" class="btn btn-info" style="margin-left: 10px">Editar</button>
                           <button  button mat-raised-button color="primary" style="margin-left: 10px" class="btn btn-info" style="margin-left: 10px">Delete</button>
                       </td>
                    </ng-container>
               </tbody>
           </table>
           <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
        </div>
    </div>
</div>
